h1{
    color: red;
}
.gradianteLineal{
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, red, pink);
    margin-top: 25px;
}
.gradianteAngulo{
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, blue, lightblue);
    margin-top: 25px;
}
.objetoTrasladado{
    background-color: sienna;
    color: snow;
    width: 200px;
    height: 200px;
    margin-top: 25px;
    transform: translate(100px,15px);
}
.objetoRotado{
    background: seagreen;
    transform: rotate(10deg);
    width: 200px;
    height: 200px;
    margin-top: 25px;
}
.objetoEscalado{
    background-color: teal;
    width: 200px;
    height: 200px;
    margin: 300px;
    transform: scale(3,2);
}