h1{
    color: red;
}
.gradianteLineal{
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, red, pink);
    margin-top: 25px;
}
.gradianteAngulo{
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, blue, lightblue);
    margin-top: 25px;
}
.objetoTrasladado{
    background-color: sienna;
    color: snow;
    width: 200px;
    height: 200px;
    margin-top: 25px;
    transform: translate(100px,15px);
}
.objetoRotado{
    background: seagreen;
    transform: rotate(10deg);
    width: 200px;
    height: 200px;
    margin-top: 25px;
}
.objetoEscalado{
    background-color: teal;
    width: 200px;
    height: 200px;
    margin: 300px;
    transform: scale(3,2);
}
.objetoAnimado1{
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    animation-name: efecto_uno;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;
}
@keyframes efecto_uno{
    0%{width: 200px;}
    25%{width: 100px;}
    50%{width: 300px;
        background-color: green;
    }
    75%{width: 400px;}
    100%{width: 200px;
        background-color: greenyellow;
    }
}